<html>
<%-include ('../../partials/head.ejs'); %>

<body class="colora d-flex justify-content-center align-items-center text-responsive">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 mb-1">
                <a href="/agendamento/agenda-dia" class="btn btn-secondary"><</a>
            </div>
            <div class="col-md-8 py-3 rounded d-flex justify-content-center order-md-2" style="background-color: white;">
                <main class="w-75 flex-column">
                    <div class="d-flex align-items-center justify-content-center mb-5 mt-3">
                        <img src="/image/ico-servicos-maior.png" alt="" class="img-fluid">
                        <h2 class="fw-bolder ml-5" style="color: #3CA7E6; margin-left: 1rem;">Serviço</h2>
                    </div>          
                    <div class="row p-0">
                        <% if (typeof error !== 'undefined' && error) { %>
                            <span class="alert alert-danger p-1 m-1" role="alert" style="font-size: 14px;">
                                <%= error %>
                            </span>
                        <% } %>
                    </div>        
                    <form id="servicoForm" action="/servico/atualizar" method="POST">
                        <input type="hidden" name="id" value="<%= servico.id %>">
                        <div class="row">
                            <div class="form-group mb-4 d-md-block">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome"  value="<%= servico.nome%>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-4 d-md-block">
                                <label for="descricao" class="form-label">Descrição</label>
                                <input type="text" class="form-control" id="descricao" name="descricao" value="<%=servico.descricao%>">
                            </div>
                        <button type="submit" class="btn btn-block w-100 gradient-custom-azul mt-5 mb-5" 
                            style="background-color: #3CA7E6;">Atualizar</button>
                    </form>
                </main>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row mt-5 mb-auto" style="font-size: 1vw;">
            <div class="col-12">
                <p class="text-center mt-5"> <img src="/image/copyright.png" alt=""> 2023 Espaço Ana. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</body>
<script src="/js/telaAgendamento.js"></script>
</html>